fastapi==0.95.2
uvicorn[standard]==0.22.0
jinja2==3.1.2
PyPDF2==3.0.1
pymupdf==1.22.0
pdfminer.six==20221105
python-multipart==0.0.6
requests==2.31.0
python-dotenv==1.0.0
pytesseract==0.3.10
pillow==10.0.0
pandas==2.2.2
aiofiles==23.1.0
faiss-cpu==1.7.4
sentencepiece==0.1.99
transformers==4.34.0
torch==2.2.0

pdf2docx
pdfplumber
xhtml2pdf
markdown
pandas
openpyxl
reportlab
qrcode[pil]
